/* port monitor view styles
 * @author Kelsey Dedoshka
 */

$borderRadius : 5px;
$detailsHeight: 200px;
$disabledHeight: $detailsHeight - 30;
$disabledText: #575757;
$activeText: white;
$colorKeyOrange: rgba(255,111,62,1);
$colorKeyBlue: rgba(61,141,155,1);
$colorKeyYellow: rgba(211,154,66,1);
$colorKeyPurple: rgba(101,57,164,1);

#portsMonitorView {

    //wrapper for toolbar key items
    .graphToggleWrapper {

        .toggleText {
            margin-left: 10px;
            margin-right: 10px;
            //font-size: 20px;
        }

        //size of area chart icons in toolbar
        .fa-area-chart {
            //font-size: 24px;
        }

        //color keys for area chart icons
        .color0 {
            color: $colorKeyOrange;
        }

        .color1 {
            color: $colorKeyBlue;
        }

        .color2 {
            color: $colorKeyYellow;
        }

        .color3 {
            color: $colorKeyPurple;
        }
    }

    //port details component style
    .portDetails {
        width: 100%;
        margin-top: 15px;

        //title text
        .main {
            color: #545454;
            font-weight: normal;
            padding: 5px;
        }

        //details text
        .details {
            font-weight: normal;
        }

        //table formatting
        tr td {

            @media #{$smallScreen} {
                font-size: 2.0rem;
            }

            @media #{$largeScreen} {
                font-size: $tableFontSizeMedium;
            }

            line-height: 2.0rem;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    //content wrapper in tile
    .innerContainer {
        padding: 10px;
        padding-bottom: 5px;
    }

    //port list drop down menu
    .portSelectionItem {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    //manage chart components together
    //line chart
    #canvasWrapper {
        canvas {
            height: 400px !important;
            padding: 20px;
            width: 100%;
        }
    }

    // icon border styling - horizantal
    // diveder in toolbar between graph
    // toggles and pause button
    .iconBorder {
        &.right {
            border-right-color: lightgray;
            border-right-style: solid;
            border-right-width: 1px;
            height: 100%;
            padding-right: 20px;
            margin-right: 20px;
        }
    }
}
