/*
 * Tile styles.
 * @author Kelsey Dedoshka
 * @author Frank Wood
 */

// FIXME: delete this after we are sure no longer needed.

.tiles {
    padding: 0px;
}

.tiles > .tile {
    background-color: $tilePanelBackgroundColor;
    border-radius: 5px;
    box-shadow: 0px 0px 3px $tilePanelShadowColor;
    margin: 15px;
}

.tilePanel {
    background-color: $tilePanelBackgroundColor;
}

.tilePanel hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid $tilePanelSeparatorColor;
}

.editVlanTitle {
    color: gray;
    font-size: 16px;
}

.editVlanTable {
    margin-bottom: 0px !important;
}

.editVlanSquare {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 2px;
}

.flip {
    transform-style: preserve-3d;
    transition: transform ease 1500ms;
    transform: rotateY(180deg);
}
