/*
 * VLAN key styles.
 * @author Kelsey Dedoshka
 */

.vlanKeyWrapper {
    margin-left: 20px;
}

.vlanKeyContainer {
    position: relative;
    min-height: 100px;
    min-width: 150px;
}

.colorBlockKeyContainer {
    position: absolute;
    top: 0;
    left: 0;
}

.portKeyContainer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2px;
}

.editKeyContainer {
    padding-left: 20px;
}

/*.portTable tr td  {
    padding-bottom: 4px;
}*/


.vlanKeyContainerSmall {
    position: relative;
    min-height: 40px;
    min-width: 70px;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-left: 20px;
}

.vlanKeyItemWrapper {
    width: 230px;
}

//Kelsey - FIXME
.displayInline, .vlanKey, .vlanName, .vlanToolbar {
    float: left;
}
