/*
 * Dashboard view styles.
 * @author Frank Wood
 */


#dashboardView {

    .utilizationRow {
        border-bottom: $viewBoxHeaderBorderBottom;
        margin-bottom: 24px;
    }

    .viewBox.box1 {
        //height: 270px;
    }

    td {
        max-width: 220px;
    }

    .tempRow {
        margin-bottom: 24px;
    }
}
