/*
 * Dashboard view styles.
 * @author Frank Wood
 */


#dashboardView {

    .utilizationRow {
        border-bottom: $viewBoxHeaderBorderBottom;
        margin-bottom: 32px;
    }

    .tempRow {
        margin-bottom: 12px;
    }

    // FIXME: not used after readjustment of the dashboard cause temp panel
    .viewBox.box1 {
        min-height: 300px;

        // for IE 11 until grommet meter styling is fixed
        max-height: 400px;
    }

    td {
        max-width: 220px;
    }

}
