/*
 * Dashboard view styles.
 * @author Frank Wood
 */


#dashboardView .utilizationRow {
    border-bottom: $viewBoxHeaderBorderBottom;
    margin-bottom: 24px;
}

#dashboardView .viewBox.box1 {
    height: 270px;
}

#dashboardView td {
    max-width: 220px;
}

#dashboardView .tempRow {
    margin-bottom: 24px;
}
