/* port monitor view styles
 * @author Kelsey Dedoshka
 */

 // FIXME: use #portsMonitorView top level div

$borderRadius : 5px;
$detailsHeight: 200px;
$disabledHeight: $detailsHeight - 30;
$disabledText: #575757;
$activeText: white;

//key toggle toolbar wrapper
.graphToggleWrapper {

    .toggleText {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
    }

    .fa-area-chart {
        font-size: 24px;
    }

    //color keys for toolbar key
    .color0 {
        color: rgba(255,111,62,1);
    }

    .color1 {
        color: rgba(61,141,155,1);
    }

    .color2 {
        color: rgba(211,154,66,1);
    }

    .color3 {
        color: rgba(101,57,164,1);
    }
}

//port details component styles
.portDetails {
    width: 100%;
    margin-top: 15px;

    .title {
        color: #545454;//#404040;
        font-size: 20px;
        font-weight: normal;
        height: 20px;
    }

    .details {
        font-size: 20px;
        font-weight: normal;
    }


    tr td {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
    }

}

//details padding
.innerContainer {
    padding: 20px;
}

//port list drop down menu
.portSelectionItem {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

//manage chart components together
#canvasWrapper {
    canvas {
        height: 400px !important;
        padding: 20px;
        width: 100%;
    }
}

#barStatsChart {
    padding: 20px;
    padding-bottom: 5px;
    width: 100%;
    height: 150px !important;
}

// icon border styling
.iconBorder {
    &.right {
        border-right-color: lightgray;
        border-right-style: solid;
        border-right-width: 1px;
        height: 100%;
        padding-right: 20px;
        margin-right: 20px;
    }
}

//tile min width for mobile
.portDetailsWrapper .viewBox {
    min-width: 405px;
}
